body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 600;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}